@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <head>
        <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    </head>
    <body>
        <h1>Up and Away Balloons</h1>

        <img class="about" src="~/img/b1.png" alt="Balloons" />

        <p>
            Up and Away Balloons is a event decorating company that has been serving customers since 2021.
            We pride ourselves on providing high-quality balloons and exceptional customer service to individuals, businesses, and event planners.
            Our company began as a small family-owned business with a passion for bringing joy and happiness to people's lives through the beauty and whimsy of balloons.
            Over the years, we have grown into a leading provider of balloons in our community, thanks to our commitment to quality, innovation, and excellence.
        </p>
        <p>
            At Up and Away Balloons, we believe that balloons are not just inflatable objects; they are symbols of celebration, happiness, and love. Whether you are celebrating
            a birthday, wedding, graduation, or any other special occasion, our balloons add a special touch of magic to your event.

            We offer a wide range of balloons, including latex, foil, custom-printed, and specialty balloons, in various colors, shapes, and sizes.
            We also provide balloon delivery, installation, and event decorating services to make your celebration stress-free and unforgettable.
        </p>
    </body>

}
