@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>

<h1>Welcome to Up and Away Balloons</h1>

<img src="~/img/balloons.png" alt="Balloons" />
